# App Config
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=https://dev.api.wexel.life

# Authentication Config
AUTH_SECRET=secret-goes-here
AUTH_KEYCLOAK_ID=patient-client
AUTH_KEYCLOAK_SECRET=xxxxx
AUTH_KEYCLOAK_ISSUER=https://dev.auth.wexel.life/realms/patient
NEXTAUTH_URL=http://localhost:3000

# Stripe Config
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=xxxx
STRIPE_CLIENT_SECRET=xxxx