NEXT_PUBLIC_BASE_URL=https://dev.api.wexel.life

AUTH_SECRET=xxxx
NEXTAUTH_URL=http//:localhost:3000
AUTH_KEYCLOAK_ID=patient-client
AUTH_KEYCLOAK_SECRET=xxxxx
AUTH_KEYCLOAK_ISSUER=https://dev.auth.wexel.life/realms/wexel